@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.relogio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    gap: 30px;
}
.relogio h1{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    height: 40px;
    letter-spacing: 3px;
    font-weight: bold;
}

.temporizador{
    height: 140px;
    width: 480px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    
    

}

.temporizador div{
    width: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(5, 5, 5, 0.7);
    border-radius: 7px;
    letter-spacing: 3px;
    
}

.temporizador span{
    font-weight: bolder;
    font-size: 50px;

}

#tempo{
    font-size: 20px;
}

.date{
    margin-top: 20px;
    height: 100px;
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(5, 5, 5, 0.7);
    border-radius: 7px;
    letter-spacing: 3px;
}
.date h1{
    font-weight: 700;
}

.date span{
    font-weight: 400;
    font-size: 20px;
}



/* From Uiverse.io by mrtqzbek11 */ 
.botaoTela {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

.botaoTela::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.botaoTela:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  transition: 0.5s;
}